In [29]:
import datetime

In [30]:
print(datetime.datetime.now())

2025-04-29 17:40:52.283945

In [17]:
df = pandas.read_csv('fashionstudio.csv')
df.head()

             Title   Price          Rating  Colors Size  Gender
0  Unknown Product  100.00  Invalid Rating       5    M     Men
1       T-shirt 62   86.03             3.8       3    M   Women
2        Hoodie 63  404.95             3.6       3    L  Unisex
3         Pants 64  483.03             4.0       3   XL     Men
4     Outerwear 65  149.12             4.1       3  XXL   Women

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   200 non-null    object
 1   Price   193 non-null    float64
 2   Rating  200 non-null    object
 3   Colors  200 non-null    int64
 4   Size    200 non-null    object
 5   Gender  200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [20]:
dirty_patterns = {
    "Title": ["Unknown Product"],
    "Rating": ["Invalid Rating", "Not Rated"],
    "Price": ["Price Unavailable", None],
    }

clean_df = df.copy()

In [21]:
mask = pandas.Series(True, index=df.index)

for col, dirty_values in dirty_patterns.items():
    if col in df.columns:  # Ensure column exists
        mask &= ~df[col].isin(dirty_values)

clean_df = df[mask].reset_index(drop=True)

In [23]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   173 non-null    object
 1   Price   173 non-null    float64
 2   Rating  173 non-null    object
 3   Colors  173 non-null    int64
 4   Size    173 non-null    object
 5   Gender  173 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.2+ KB

In [24]:
clean_df.isnull().sum()

Title     0
Price     0
Rating    0
Colors    0
Size      0
Gender    0
dtype: int64

In [25]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   173 non-null    object
 1   Price   173 non-null    float64
 2   Rating  173 non-null    object
 3   Colors  173 non-null    int64
 4   Size    173 non-null    object
 5   Gender  173 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.2+ KB

In [27]:
clean_df['Rating'] = pandas.to_numeric(clean_df['Rating'])
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   173 non-null    object
 1   Price   173 non-null    float64
 2   Rating  173 non-null    float64
 3   Colors  173 non-null    int64
 4   Size    173 non-null    object
 5   Gender  173 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 8.2+ KB

In [28]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   173 non-null    object
 1   Price   173 non-null    float64
 2   Rating  173 non-null    float64
 3   Colors  173 non-null    int64
 4   Size    173 non-null    object
 5   Gender  173 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 8.2+ KB